input{
    padding-bottom: 12px;
    padding-top: 12px;
    /* color: rgb(118, 118, 118); 
    border-top-color: rgb(201, 201, 201);
    border-right-color: rgb(201, 201, 201);
    border-left-color: rgb(201, 201, 201);
    border-bottom-color: rgb(201, 201, 201);
    background-color: #fff; */
}

table{
    border-spacing: 50px 5px;
    padding-left: 18%;
}

input.fecha{
    float: left;
    text-align: center;
    
}

p.img{
    text-align: center;
}

td.ING{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
}

p.clase{

}

span{
    color: rgb(225, 98, 0);
    font-family: sans-serif;
    cursor: default;
    font-size: 11px;
}

span.clase{
    color: rgb(225, 98, 0);
    font-family: sans-serif;
    cursor: default;
    font-size: 12px;
    line-height: 18px;
    padding-right: 5px;
}

p.ING2{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
    padding-left: 396px;
    padding-top: 10px;
    padding-bottom: 18px;
}

div.caja{
    /* Caja dobde estan los text */
    border-bottom-color: rgb(201,201,201);
    border-bottom-style: solid;
    border-bottom-width: 1.98px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(201,201,201);
    border-left-style: solid;
    border-left-width: 1.98px;
    border-right-color: rgb(201,201,201);
    border-right-style: solid;
    border-right-width: 1.98px;
    border-top-color: rgb(201,201,201);
    border-top-style: solid;
    border-top-width: 1.98px;
    box-sizing: border-box;
    color: rgb(51,51,51);
    display: block;
    height: 115px;
    overflow-y: scroll;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-size-adjust: 100%;
    width: 1108px;
    zoom: 1;
    margin-left: 396px;
}

p.text1{
    font-family: sans-serif;
    font-size: 11px;
    margin-top: 5px;
    padding-bottom: 10px;
}

p.text2{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
    
}

p.text3{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
    
}

p.text4{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
    
}

ul{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
    /* Lista despues del Text5 */
}

p.text6{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
}

p.text7{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
}

p.text8{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
}


p.pdd-top{
    padding-top: 15px;
}

a.link{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
    text-decoration: none;
    text-decoration-style: solid;
    border-bottom-style: dashed;
    border-bottom-color: rgb(255,98,0);
    border-bottom-width: 1.85px;
    background-size:auto ;
}

a.text{
    font-family: sans-serif;
    font-size: 11px;
    color: rgb(118, 118, 118);
    text-decoration: none;
}